<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Product</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 20px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

 <%if(errorMessage){%>
    <div class="alert alert-danger" role="alert">
      <%=errorMessage%>
    </div>
  <%}%>

  <form action="/update-product" method="POST" enctype="multipart/form-data">
    <!-- <label for="id">ID:</label> -->
    <input type="hidden" id="id" name="id" value="<%=product.id%>" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%=product.name%>" required>

    <label for="desc">Description:</label>
    <textarea id="desc" name="desc" rows="4" required><%=product.desc%></textarea>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" pattern="[0-9]+([.,][0-9]+)?" title="Enter a valid number" value="<%=product.price%>"  required>

    <label for="imageUrl">Upload Image:</label>
    <!-- <input type="text" id="imageUrl" name="imageUrl" value="<%=product.imageUrl%>"  required> -->
    <input type="file" id="imageUrl" name="imageUrl"  accept="Images/*" />


    <button type="submit">Add Item</button>
  </form>

</body>
</html>
